<%- include('layout.ejs'); %>
    <div class="container outline">
        <div class="container outline">
            <h1>
                <%= eventDetails[0].title %>
            </h1>
            <p>I'm hosting a monthly get together. And you're invited to this one. Lucky you.</p>
            <h5>Hosted by Paul</h5>
        </div>
    </div>

    <div class="container outline attendingBox">
        <div class="row">
            <div class="col-4 outline oddRow">

                <div class="container ">
                    <div class="row">
                        <div class="col ">
                            <span class="attendingNum">XX</span> <span class="attendingText">people attending</span>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col outline ">
                <form action="/newAttendance" method="post">
                    <input type="hidden" name="eventId" id="eventId" value="<%= eventDetails[0]._id %>">
                    <div class="container">
                        <div class="row">

                            <div class="col">
                                <input type="text" name="name" id="name" placeholder="Name" class="atttendingItem">
                            </div>

                            <div class="col">
                                <select name="status" id="status" class="atttendingItem">
                                    <option value="" disabled selected>Can you make it?</option>
                                    <option value="Yes">I can make it! 😃</option>
                                    <option value="No">Can't make it! 😭</option>
                                </select>
                            </div>
                            <div class="col">
                                <button type="submit" class="btn btn-success atttendingItem">Let me know!</button>
                            </div>
                </form>
            </div>
        </div>
        </form>

    </div>
    </div>
    </div>

    <div class="container outline">
        <div class="row">
            <div class="col-4 outline">

                <div class="container outline">
                    <div class="row">
                        <div class="col-1">
                            <h5>🗓️</h5>
                        </div>
                        <div class="col">
                            <h5>Date and Time</h5>
                            <p>
                                <%= eventDetails[0].date.toLocaleString('en-us',{weekday:'long'});%>,
                                    <%= eventDetails[0].date.getDay();%>
                                        <%=
                                            eventDetails[0].date.toLocaleString('en-us',{month:'long',year:'numeric'});%>
                                            <br>
                                            <%=
                                                eventDetails[0].date.toLocaleString('en-us',{hour:'2-digit',minute:'2-digit'});%>
                            </p>

                        </div>
                    </div>
                </div>

                <div class="container outline">
                    <div class="row">
                        <div class="col-1">
                            <h5>📍</h5>
                        </div>
                        <div class="col">
                            <h5>Location</h5>
                            <p>
                                <%= eventDetails[0].locationName %>
                                    <br>
                                    <%= eventDetails[0].locationAddress %>,
                                        <%= eventDetails[0].locationPostcode %>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="container outline">
                    <div class="row">
                        <div class="col-1">

                        </div>
                        <div class="col">
                            <p>Add to calendar</p>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col outline">
                <div class="container">
                    <h5>Event Details</h5>
                    <p>
                        <%= eventDetails[0].description %>
                    </p>
                </div>
            </div>
        </div>
    </div>